.overflowable {
    overflow: auto;
}

#main {
    width: 100%;
    height: 100%;
}

#gameCanvas {
    float: left;
    width: 100%;
    height: 100%;
}

#console {
    right: 0;
    height: 100%;
    border: 5px black;
    background-color: #FFFFFF;
    position: absolute !important;
    display: flex;
    flex-direction: row-reverse;
}

input {
    padding-top: 5px;
    padding-bottom: 5px;
}

.parent {
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    background-color: lightgrey;
    border: 2px lightgrey solid;
    /*padding: 0.5em;*/
    cursor: pointer;
}

.child {
    width: auto;
    padding-left: inherit;
    padding-right: inherit;
    background-color: white;
    border: 1px black solid;
    cursor: auto;
}

#right-input {
    float: right;
    width: 50%;
}

#reset_camera {
    color: black;
}

.vertical-container {
    display: flex;
    flex-direction: column;
}


html {
    height: 100%;
}

body {
    overflow: hidden;
    height: 100%;
}

#save-config {
    /*text-align: center;*/
    /*font-weight: bold;*/
    /*background-color: rgb(42, 207, 21);*/
}

.save-button {
    display: flex !important;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 1em !important;
    margin-top: 1em;
}

body{
    margin: 0px;
}
