# config file for varicity
# you may alter this file before running the program
# pick your color at https://htmlcolorcodes.com/

description: "basic config with default colors and building representation"
name: "default config"

building:
  padding: 0.2
  display:
    #file_size: "force" # -> circle size updating with total size of buildings
    file_size: "adaptative" # -> circle size updating with total size of buildings
  colors:
    # outline: "#145a32" # dark green
    # edges: "#a569bd" # light purple
    faces: # ordered by importance, descending : in case of conflict, the first color to match will be displayed
      - name: "VP"
        color: "#FF6F33"
      - name: "STRATEGY"
        color: "#17202a" # black
      - name: "FACTORY"
        color: "#7d3c98" # purple
      - name: "INTERFACE"
        color: "#e67e22" # orange
      - name: "ABSTRACT"
        color: "#2c3e50" # dark blue
      - name: "CLASS"
        color: "#335DFF"
      - name: "DIRECTORY"
        color: "#BA8B09"
      - name: "!HOTSPOT"
        color: "#555555"
      - name: "API"
      - name: "VARIANT"
      - name: "TEMPLATE"
      - name: "DECORATOR"
      - name: "COMPOSITION_STRATEGY"
      - name: "METHOD_LEVEL_VP"
      - name: "DENSE"
      - name: "PUBLIC"
      - name: "PRIVATE"
    edges:
      - name: "API"
        color: "#000000"

district:
  padding: 0
  colors:
    faces:
      - name: "PACKAGE"
        color: "#801A2E"
      - name: "VP"
        color: "#1A8039"

link:
  colors:
    - name: "IMPLEMENTS"
      color: "#ef2222"
    - name: "EXTENDS"
      color: "#3f97ff"
    - name: "DUPLICATES"
      color: "#2B914A"
    - name: "USAGE"
      color: "#1A8039"
  display:
    air_traffic:
      - "IMPLEMENTS"
      - "EXTENDS"
      - "CORE_CONTENT"
      - "CODE_DUPLICATED"
    bridges:
      - "EXPORT"
    underground_road:
      - "USAGE"
#      - "CHILD"

hierarchy_links:
  - "USAGE"
  - "IMPLEMENTS"
  - "EXTENDS"
  - "CHILD"

blacklist: #all classes that must not appear
  []

api_classes: # configuration given in the paper
  []

  
variables: #variables to be used for width and height of a building
  width: "nbConstructorVariants"
  height: "nbMethodVariants"
  intensity: ""
  fade: ""
  crack: ""

orientation: "OUT"

default_level: 4

camera_data:
  alpha: 0.167451519847481
  beta: 0.7842601589237435
  radius: 29.559067943185145
  target:
    x: 11.684349326346426
    y: 8.721032203281815
    z: 10.633651660390944
metrics:
  complexity:
    min: 0
    max: 25
    higherIsBetter: false
  cognitive_complexity:
    min: 0
    max: 150
    higherIsBetter: false
  duplicated_lines:
    min: 0
    max: 100
    higherIsBetter: false
  duplicated_lines_density:
    min: 0
    max: 30
    higherIsBetter: false
  coverage:
    min: 0
    max: 100
    higherIsBetter: false
  nbMethodVariants:
    min: 0
    max: 100
    higherIsBetter: false
  nbAttributes:
    min: 0
    max: 100
    higherIsBetter: false
  nbConstructorVariants:
    min: 0
    max: 100
    higherIsBetter: false
  nbVariants:
    min: 0
    max: 100
    higherIsBetter: false